<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <base href="https://ticketdelivery.herokuapp.com/">
    <title>Select your Tickets</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
    <script>$(function () { var $body = $(document); $body.bind("scroll", function () { if ($body.scrollLeft() !== 0) { $body.scrollLeft(0); } }); });</script> </head>

<body>
    <div>
        <div class="row">
            <h3 class="header center blue-text">Air1 Positive Hits Tour feat. Skillet, Britt Nicole, Colton Dixon Tickets</h3>
            <img alt="Seat Map" class="responsive-img" src="https://s3.amazonaws.com/media.ticketevolution.com/configurations/static_maps/3535/large.jpg?1424365182">
            <table id="tickets" class="display table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>Section</th>
                        <th>Row</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>112</td>
                        <td>N</td>
                        <td>
                            <form action="/checkout/" method="get">
                                <input type="hidden" value="null" name="in_hand_on">
                                <input type="hidden" value="true" name="in_hand">
                                <input type="hidden" value="true" name="eticket">
                                <input type="hidden" value="Air1 Positive Hits Tour feat. Skillet, Britt Nicole, Colton Dixon" name="event_name">
                                <input type="hidden" value="2017-11-09T19:00:00Z" name="event_date">
                                <input type="hidden" value="1501137066641951" name="uid" id="uid">
                                <select name="userticketsquantity" id="ticketsquantity">
                                    <option value="2">2</option>
                                </select>
                        </td>
                        <td>$8.4</td>
                        <td>
                            <input type="hidden" value="1253610" name="event_id">
                            <input type="hidden" value="422256096" name="groupticket_id">
                            <input type="hidden" value="7034" name="venue_id">
                            <input type="hidden" value="2" name="quantity">
                            <input type="hidden" value="false" name="instant_delivery">
                            <input type="hidden" value="true" name="in_hand">
                            <input type="hidden" value="Eticket" name="format">
                            <input type="hidden" value="112" name="section">
                            <input type="hidden" value="N" name="row">
                            <input type="hidden" value="8.4" name="priceticket">
                            <input type="hidden" value="2" name="quantity">
                            <button type="submit" class="btn blue">BUY</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>107</td>
                        <td>D</td>
                        <td>
                            <form action="/checkout/" method="get">
                                <input type="hidden" value="null" name="in_hand_on">
                                <input type="hidden" value="true" name="in_hand">
                                <input type="hidden" value="true" name="eticket">
                                <input type="hidden" value="Air1 Positive Hits Tour feat. Skillet, Britt Nicole, Colton Dixon" name="event_name">
                                <input type="hidden" value="2017-11-09T19:00:00Z" name="event_date">
                                <input type="hidden" value="1501137066641951" name="uid" id="uid">
                                <select name="userticketsquantity" id="ticketsquantity">
                                    <option value="2">2</option>
                                </select>
                        </td>
                        <td>$16.22</td>
                        <td>
                            <input type="hidden" value="1253610" name="event_id">
                            <input type="hidden" value="422229776" name="groupticket_id">
                            <input type="hidden" value="7034" name="venue_id">
                            <input type="hidden" value="2" name="quantity">
                            <input type="hidden" value="true" name="instant_delivery">
                            <input type="hidden" value="true" name="in_hand">
                            <input type="hidden" value="Eticket" name="format">
                            <input type="hidden" value="107" name="section">
                            <input type="hidden" value="D" name="row">
                            <input type="hidden" value="16.22" name="priceticket">
                            <input type="hidden" value="2" name="quantity">
                            <button type="submit" class="btn blue">BUY</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>112</td>
                        <td>E</td>
                        <td>
                            <form action="/checkout/" method="get">
                                <input type="hidden" value="null" name="in_hand_on">
                                <input type="hidden" value="true" name="in_hand">
                                <input type="hidden" value="true" name="eticket">
                                <input type="hidden" value="Air1 Positive Hits Tour feat. Skillet, Britt Nicole, Colton Dixon" name="event_name">
                                <input type="hidden" value="2017-11-09T19:00:00Z" name="event_date">
                                <input type="hidden" value="1501137066641951" name="uid" id="uid">
                                <select name="userticketsquantity" id="ticketsquantity">
                                    <option value="2">2</option>
                                </select>
                        </td>
                        <td>$16.48</td>
                        <td>
                            <input type="hidden" value="1253610" name="event_id">
                            <input type="hidden" value="422346272" name="groupticket_id">
                            <input type="hidden" value="7034" name="venue_id">
                            <input type="hidden" value="2" name="quantity">
                            <input type="hidden" value="true" name="instant_delivery">
                            <input type="hidden" value="true" name="in_hand">
                            <input type="hidden" value="Eticket" name="format">
                            <input type="hidden" value="112" name="section">
                            <input type="hidden" value="E" name="row">
                            <input type="hidden" value="16.48" name="priceticket">
                            <input type="hidden" value="2" name="quantity">
                            <button type="submit" class="btn blue">BUY</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>112</td>
                        <td>C</td>
                        <td>
                            <form action="/checkout/" method="get">
                                <input type="hidden" value="null" name="in_hand_on">
                                <input type="hidden" value="true" name="in_hand">
                                <input type="hidden" value="true" name="eticket">
                                <input type="hidden" value="Air1 Positive Hits Tour feat. Skillet, Britt Nicole, Colton Dixon" name="event_name">
                                <input type="hidden" value="2017-11-09T19:00:00Z" name="event_date">
                                <input type="hidden" value="1501137066641951" name="uid" id="uid">
                                <select name="userticketsquantity" id="ticketsquantity">
                                    <option value="2">2</option>
                                </select>
                        </td>
                        <td>$18.54</td>
                        <td>
                            <input type="hidden" value="1253610" name="event_id">
                            <input type="hidden" value="389970995" name="groupticket_id">
                            <input type="hidden" value="7034" name="venue_id">
                            <input type="hidden" value="2" name="quantity">
                            <input type="hidden" value="true" name="instant_delivery">
                            <input type="hidden" value="true" name="in_hand">
                            <input type="hidden" value="Eticket" name="format">
                            <input type="hidden" value="112" name="section">
                            <input type="hidden" value="C" name="row">
                            <input type="hidden" value="18.54" name="priceticket">
                            <input type="hidden" value="2" name="quantity">
                            <button type="submit" class="btn blue">BUY</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>111</td>
                        <td>Q</td>
                        <td>
                            <form action="/checkout/" method="get">
                                <input type="hidden" value="null" name="in_hand_on">
                                <input type="hidden" value="true" name="in_hand">
                                <input type="hidden" value="true" name="eticket">
                                <input type="hidden" value="Air1 Positive Hits Tour feat. Skillet, Britt Nicole, Colton Dixon" name="event_name">
                                <input type="hidden" value="2017-11-09T19:00:00Z" name="event_date">
                                <input type="hidden" value="1501137066641951" name="uid" id="uid">
                                <select name="userticketsquantity" id="ticketsquantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="7">7</option>
                                </select>
                        </td>
                        <td>$25.96</td>
                        <td>
                            <input type="hidden" value="1253610" name="event_id">
                            <input type="hidden" value="422229775" name="groupticket_id">
                            <input type="hidden" value="7034" name="venue_id">
                            <input type="hidden" value="7" name="quantity">
                            <input type="hidden" value="true" name="instant_delivery">
                            <input type="hidden" value="true" name="in_hand">
                            <input type="hidden" value="Eticket" name="format">
                            <input type="hidden" value="111" name="section">
                            <input type="hidden" value="Q" name="row">
                            <input type="hidden" value="25.96" name="priceticket">
                            <input type="hidden" value="7" name="quantity">
                            <button type="submit" class="btn blue">BUY</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>117</td>
                        <td>M</td>
                        <td>
                            <form action="/checkout/" method="get">
                                <input type="hidden" value="null" name="in_hand_on">
                                <input type="hidden" value="true" name="in_hand">
                                <input type="hidden" value="true" name="eticket">
                                <input type="hidden" value="Air1 Positive Hits Tour feat. Skillet, Britt Nicole, Colton Dixon" name="event_name">
                                <input type="hidden" value="2017-11-09T19:00:00Z" name="event_date">
                                <input type="hidden" value="1501137066641951" name="uid" id="uid">
                                <select name="userticketsquantity" id="ticketsquantity">
                                    <option value="2">2</option>
                                </select>
                        </td>
                        <td>$40.02</td>
                        <td>
                            <input type="hidden" value="1253610" name="event_id">
                            <input type="hidden" value="421229143" name="groupticket_id">
                            <input type="hidden" value="7034" name="venue_id">
                            <input type="hidden" value="2" name="quantity">
                            <input type="hidden" value="true" name="instant_delivery">
                            <input type="hidden" value="true" name="in_hand">
                            <input type="hidden" value="Eticket" name="format">
                            <input type="hidden" value="117" name="section">
                            <input type="hidden" value="M" name="row">
                            <input type="hidden" value="40.02" name="priceticket">
                            <input type="hidden" value="2" name="quantity">
                            <button type="submit" class="btn blue">BUY</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>$(document).ready(function () { $('select').material_select(); $("#tickets").DataTable({ "order": [[3, "desc"]] }); });</script> </body>

</html>