<div class="container">
    <dir style="margin-top:0;padding-top:0;" class="section center-align">
        <div class="row">
            <h4>Congratulations {{{buyer_name}}}</h4>
            <h6 class="grey-text">Enjoy your Tickets</h6>
        </div>
        <div class="row">
            <img src="images/pepper.png" style="margin-top:0;padding-top:0;" class="responsive-img"> </div>
        <div class="row" style="margin-top:0; padding-top:0;">
            <div style="width:100%; margin-top:0;" class="card-panel blue darken-4">
                <label class="flow-text white-text">Thank you.</label>
                <br>
                <label class="flow-text white-text">Your confirmation is on its way.</label>
            </div>
        </div>
    </dir>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>