<form method="post">
    <input type="email" name="email" value="" id="email" placeholder="Tu Email">
    <input type="password" name="password" value="" id="password" placeholder="Tu Contraseña">
    <br></br>
    <input type="submit" value="Login">
</form>



<div class="container">
    <div class="row left">
        <h3 class="header left blue-text">Jimmy Buffett
            <small>Northwell Health at Jones Beach Theater Wantagh, NY</small>
        </h3>
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img alt="event" style="width:600; height:200px" src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Jimmy_Buffett_1.jpg">
                            <span class="card-title">Jimmy Buffett</span>
                        </div>
                        <div class="card-content">

                            <p>Jimmy Buffett
                                <br>
                                <strong>Tuesday, August 15th 2017, 3:00:00 pm</strong>
                                <br>Northwell Health at Jones Beach Theater Wantagh, NY
                            </p>
                            <div class="card-action">
                                <p>
                                    <a class="btn blue" href="https://ticketdelivery.herokuapp.com/tickets/?event_id=1189600&uid=1529264627114912&venue_id=756&performer_id=5718&event_name=Jimmy Buffett&event_date=2017-08-15T20:00:00Z&seatsmap=https://s3.amazonaws.com/media.sandbox.ticketevolution.com/configurations/static_maps/16010/large.jpg?1424365939">Purchase Ticket</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>