<form method="post">
    <input type="email" name="email" value="" id="email" placeholder="Tu Email">
    <input type="password" name="password" value="" id="password" placeholder="Tu Contraseña">
    <br></br>
    <input type="submit" value="Login">
</form>