<div class="container">
    <div class="row">
        <div class="col m12 m4">
            <h4 class="header left blue-text">Review Order.</h4>

        </div>
    </div>
    <form action="/checkout/paypal_pay/" method=" post ">
        
    </form>
</div>
<script type="text/javascript " src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
<script type="text/javascript " src="js/materialize.min.js "></script> </body>