<div class="navbar-fixed">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <!--<a id="logo-container" href="#" class="brand-logo">{{event_name}}</a>-->

            <ul class="right hide-on-med-and-down">
                <li>
                    {{event_name}}
                </li>
            </ul>

            <!-- <ul id="nav-mobile" class="side-nav" style="left: 0px;">
                <li>
                    <a href="#">Navbar Link</a>
                </li>
            </ul>>-->
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
</div>