<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>{{{titulo}}}</title>
    <base href="{{{APLICATION_URL_DOMAIN}}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="images/favi-pepper.png">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />
    <!--Let browser know website is optimized
        for mobile-->
    <link type="text/css" rel="stylesheet" href="../css/main.css" media="screen,projection" />




    <link rel="stylesheet" type="text/css" href="../css/book.css">
    {{#if form_buy }}
     <link rel="stylesheet" type="text/css" href="../css/form_buy.css"> 
    {{/if}}

</head>

<body>
    {{{body}}}


</body>

</html>