.options-payment {
	margin: 0;
	padding: 0;
}

.right-payment {
	margin: 16px;
}

.btn-checkout {
	border: none !important;
	background-color: #0083FF;
	font-size: 16px;
}

.container-fluid {
	margin: 0 0 16px 0;
	padding-bottom: 16px;
}

.container-root {
	padding-top: 32px;
	background-color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
	.container-fluid {
		margin-top: 64px;
		padding-top: 10px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
	.container-fluid {
		margin-top: 64px;
		padding-top: 0px;
	}
}

@media only screen and (min-width: 768px) {
	.container-fluid {
		margin-top: 64px;
		padding-top: 0px;
	}
}

@media only screen and (min-width: 992px) {
	.container-fluid {
		margin-top: 64px;
		padding-top: 0px;
	}
}

@media only screen and (min-width: 1200px) {
	.container-fluid {
		margin-top: 64px;
		padding-top: 0px;
	}
}