 
.btn1rem {
  padding: 0 1rem;
}

.barra_gris {
  color: black;
  background-color: #d3d0d0;
  line-height: 4rem;
  height: 4rem;
  padding: 0 1rem;
}

a {
  color: #00B7FF;
}

.fuente8 {
  color: #868585;
  font-size: 0.8rem;
}

.fuente_titulo {
  font-size: 2rem;
  color: white;
}

.fuente9 {
  font-size: 0.9rem;
}

.titulo1 {
  font-size: 1.7rem;
  margin: 4px 0px;
  padding: 0px;
  line-height: 2rem;
}
.titulo2 {
  font-size: 0.8rem;
  margin: 2px 0px;
  padding: 0px;
  line-height: 1rem;
}

.fixed-panel {
  height: auto;
  max-height: 80%;
  overflow-y: auto;
}

.scrollbar {
  width: 100%;
  height: auto;
  max-height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white
}

.width100 {
  width: 100%;
}

@media screen and (max-width: 601px) {
  .height40 {
    max-height: 35%;
  }
  .fuente_titulo {
    font-size: 1.2rem;
    color: white;
  }
}


@media screen and (min-width: 601px) {
  #style-7::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 6px;
  }
  #style-7::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }
  #style-7::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
  }
}

.container1 {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  background-color: #E9EBEE;
}

@media only screen and (max-width: 601px) {
  .container1 {
    width: 100%;
  }
  .row1 {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  .row .col.row1 {
    padding: 0;
  }
}

@media only screen and (min-width: 993px) {
  .container1 {
    width: 70%;
  }
}


/* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= /

/* RESPONSIVE
   ========================================================================= /
 
/ Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- /
@media (min-width: 768px) { }
 
/ Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- /
@media (min-width: 1024px) { }
 
/ Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) { }
