<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>{{{titulo}}}</title>
    <base href="https://botboletos-test.herokuapp.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" / <!--Let browser know website is optimized
        for mobile-->



</head>

<body>
  <div class="section">
  
	  <div class="card row">
		<div class="row">
			  <div class="col s12 l5"> 
			 
					<div class="row">
				  
						 <div class="col s6"><b>Event</b></div>
						 <div class="col s6"><b>Date</b></div>
				  
					</div>
				    <div class="divider"></div>
				  
					<div class="row">
				  
					 <div class="col s6">{{{event_name}}}</div>
					 <div class="col s6">{{{event_date}}}</div>
				  
					</div>
				  
					<div class="row">
						<div class="input-field col s6">
												<b>Ticket Type: </b>
												
						</div>
						<div class="input-field col s6">
												<span class="new badge green">{{{format}}} </span>
												
						</div>
						
						
					</div>
			  
			 
			  </div>
			  <div class="col s12 l2"> 
			          <div class="row"><div class="col s12"> <b>	Seats</b></div></div>
					   <div class="divider"></div>
					  <div class="row"><div class="col s12"> 	<b>Section:</b>{{{section}}}  </div></div>
					  <div class="row"><div class="col s12">   <b>Row</b>: {{{row}}} </td>  </div></div>
			  </div>
			  <div class="col s12 l5"> 
			  
				  <div class="row">
				  
					 <div class="col s6"><b>Quantity</b></div>
					 <div class="col s6"><b>Price Each</b></div>
				  
				  </div>
				   <div class="divider"></div>
				  
				   <div class="row">
				  
					 <div class="col s6">{{{quantity}}}</div>
					 <div class="col s6">${{{price}}}</div>
				  
				  </div>
				  
				   <div class="row">
				  
					 <div class="col s6">Total</div>
					 <div class="col s6">$ {{{total}}}</div>
				  
				  </div>
			  
			  </div>
		</div>
	</div>
	
</div>
 
 
 
 
 <div class="section">
    <div class="row">
        <div class="card col s12">
            <div class="row">
                <div class="input-field col s3">
					<div class="row">
						Event
					</div>
					<div class="row">
						{{{event_name}}}
					</div>
                      
                </div>
                <div class="input-field col s2">
                     <div class="row">
						Date
					</div>
					<div class="row">
						{{{event_date}}}
					</div>
                </div>
                <div class="input-field col s2">
                      <div class="row">
						Seats
					</div>
					<div class="row">
						<b>Section:</b>{{{section}}}
						    <br>
                            <b>Row</b>: {{{row}}} </td>
					</div> 
                </div>
                <div class="input-field col s2">
                     <div class="row">
						Quantity
					</div>
					<div class="row">
						{{{quantity}}}
					</div> 
                </div>

                <div class="input-field col s1">
                    <div class="row">
						Price Each
					</div>
					<div class="row">
						 ${{{price}}} 
					</div> 
					  
                </div>
            </div>
			 <div class="row">
				<div class="input-field col s7">
				            <b>Ticket Type: </b>
                            <span class="new badge green">{{{format}}} </span>
				</div>
				<div class="input-field col s3">
				         <div class="row">
							  <div class="input-field col s6">
							         <strong>Total</strong>
							  </div>   
							   <div class="input-field col s6">
							   
							   {{{ total }}} 
							  </div>
				         </div>   
				</div>   
				</div>
			 </div>
        </div>



        <div class="col m12 ">
            <h4 class="header left blue-text">Checkout Process</small>
            </h4>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Date</th>
                        <th>Seats</th>
                        <th> Quantity</th>
                        <th>Price Each</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{{event_name}}}</td>
                        <td>{{{event_date}}}</td>
                        <td>
                            <b>Section:</b>{{{section}}}
                            <br>
                            <b>Row</b>: {{{row}}} </td>
                        <td>{{{quantity}}}</td>
                        <td>${{{price}}}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ticket Type: </b>
                            <span class="new badge green">{{{format}}} </span>
                        </td>
                        <td colspan="2"></td>
                        <td>
                            <strong>Total</strong>
                        </td>
                        <td>{{{ total }}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


        
<div class="row">
                            <form class="col s12 " action="/checkout/" method="post">
                                <input type="hidden" value="{{this.in_hand_on}}" name="in_hand_on">
                                <input type="hidden" value="{{this.in_hand}}" name="in_hand">
                                <input type="hidden" value="{{this.eticket}}" name="eticket">
                                <input type="hidden" value="{{{../event_name}}}" name="event_name">
                                <input type="hidden" value="{{../event_date}}" name="event_date">
                                <input type="hidden" value="{{../uid}}" name="uid" id="uid">
                                <input type="hidden" value="{{../event_id}}" name="event_id">
                                <input type="hidden" value="{{this.id}}" name="groupticket_id">
                                <input type="hidden" value="{{this.quantity}}" name="quantity">
                                <input type="hidden" value="{{this.instant_delivery}}" name="instant_delivery">
                                <input type="hidden" value="{{this.format}}" name="format">
                                <input type="hidden" value="{{this.section}}" name="section">
                                <input type="hidden" value="{{this.row}}" name="row">
                                <input type="hidden" value="{{this.wholesale_price}}" name="priceticket">




                                <div class="input-field col s2">
                                    <label style="color: black">{{this.section}} </label>
                                </div>
                                <div class="input-field col s2">
                                    <label> {{this.row}}</label>
                                </div>
                                <div class="input-field col s2">
                                    <select name="userticketsquantity" id="ticketsquantity">
                                        {{#each this.splits}}
                                        <option value="{{this}}">{{this}}</option>
                                        {{/each}}

                                    </select>
                                </div>
                                <div class="input-field col s2">
                                    <label> {{this.wholesale_price}}</label>
                                </div>

                                <div class="input-field col s2 l3">
                                    <button type="submit" class="btn blue">BUY</button>
                                </div>


                            </form>
                        </div>

                        <div class="divider"></div>
                        {{/each}}
                    </div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').material_select();
        $(".button-collapse").sideNav();
        $("#tickets").DataTable({ "order": [[3, "desc"]] });
    });

</script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
			 $('.scrollspy').scrollSpy();
        });
    </script>
</body>

</html>