
<form method="post" action="/checkout/paypal_pay/" class="col s12" name="checkoutpaypalForm">
     

    <div class="row">
        <div class="col-md-4">
            <button id="checkoutpaypalButton" name="checkoutpaypalButton" class="btn blue">Prueba Pay Pal </button>
         </div>
    </div>
</form>